@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgprimary:#9F3647;
    --bgsecundary:#181419;
    --bgtextcolor:#ffffff;
}
a{
    text-decoration: none;
    color:var(--bgtextcolor)
}

@keyframes logo{
    0%{
        transform: translate(0px, -5px) rotate(8deg);
    }
    25%{
        transform: translate(-5px, -10px) rotate(8deg);
    }
    50%{
        transform: translate(-10px, -5px) rotate(8deg);
    }
    75%{
        transform: translate(-5px, 0px) rotate(8deg);
    }
    100%{
        transform: translate(-10px, 5px) rotate(8deg);
    }
}


body{
    background-color:var(--bgsecundary);
    color: var(--bgtextcolor);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


    header{
        background-color: var(--bgprimary);
        height: 10vh;
        
        nav{
            display:flex;
            justify-content: space-between;
            height: 100%;
            margin: 0 2rem;
            align-items: center;
        .logo{
            height: 50%;
            display:flex;
            align-items: center;
            gap:0.5rem;
        }
        .logo:hover{
            animation-name:logo;
            animation-duration:0.15s;
            animation-timing-function: ease;
            animation-delay: inherit;
        }
            svg{
                height: 100%;
                width: auto;
            }
        }
        ul{
            display: flex;
            gap:1rem;

            li{
                list-style-type: none;
                padding: 0.5rem 1rem;
                transition:box-shadow 0.2s ease-out;
                border-radius:0.5rem;
                
            }
            li:hover{
                box-shadow: 0px 0px 15px var(--bgsecundary);
            }
            li:last-child{
                background-color: var(--bgsecundary);
                
                a{
                    background-color: var(--bgsecundary);
                    
                }
            }
        }

        }
    

    .main{
        .principal{
            height: 90vh;
            background-image: url(../asset/banner-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: soft-light;
            background-color: rgb(68,67,67);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content:center;
            gap:1.5rem;
            padding:0 20%;

            h1{
                font-size: 2.5rem;
                text-align: center;
            }
            h2{
                font-size: 1.5rem;
                font-weight: 400;
                text-align: center;
            }
            .mainButton{
                background-color: var(--bgprimary);
                padding: 1rem 1.25rem;
                border-radius: 0.5rem;
                -webkit-transition:all .9s ease;
                -moz-transition:all .9s ease;
                -o-transition:all .9s ease; 
                -ms-transition:all .9s ease;
            }
            .mainButton:hover{
                -webkit-transform:scale(1.25);
                -moz-transform:scale(1.25);
                -ms-transform:scale(1.25);
                -o-transform:scale(1.25);
                transform:scale(1.25);
            }
            
        }
        .search{
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            form{
                .searchInput{
                    width:20rem;
                    height:2.25rem;
                    font-size: 1rem;
                    border-radius: 1rem;
                    padding: 0 0.75rem;
                    border: 2px solid white;
                }
                .searchButton{
                    width:8rem;
                    height:2.25rem;
                    font-size: 1rem;
                    border-radius: 1rem;
                    padding: 0 0.75rem;
                    border: 2px solid white;
                    background-color: var(--bgprimary);
                    color:white;
                    -webkit-transition:all .9s ease; 
                    -moz-transition:all .9s ease; 
                    -o-transition:all .9s ease; 
                    -ms-transition:all .9s ease;
                }
                .searchButton:hover{
                    -webkit-transform:scale(1.25);
                    -moz-transform:scale(1.25);
                    -ms-transform:scale(1.25);
                    -o-transform:scale(1.25);
                    transform:scale(1.25);
                }
            }
            .line{
                width: 70%;
                height: 2px;
                background-color: var(--bgprimary);
            }
        }
        .gallery{
            
            div {
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            justify-content: center;
            gap:3rem;

            img{
                width:12rem;
            }
        }
    }
        .aclamadas{
            padding-top:60px;

            .titulo-aclamadas{
                display:flex;
                justify-content: center;
                align-items: center;
                -webkit-transition:all .9s ease;
                -moz-transition:all .9s ease;
                -o-transition:all .9s ease; 
                -ms-transition:all .9s ease;

                .linea-Divisoria{
                    width: 50%;
                    height: 2px;
                    background-color: var(--bgprimary);
                }
            }
            
            .container-aclamadas{
                    padding: 40px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
                    justify-items: center;
                    justify-content: center;
                    gap:3rem;

                    img{
                        width:10rem;
                    }
                    
                }  
            
        }
    } 
    .aclamada-publico{
        padding-top: 60px;
        text-align: center;
        padding-bottom: 30px;
        -webkit-transition:all .9s ease;
        -moz-transition:all .9s ease;
        -o-transition:all .9s ease; 
        -ms-transition:all .9s ease;
        
    }
    .footer{
        background-color: var(--bgprimary);
        height: 15vh;
        ul{
            padding-top: 20px;
            display: flex;
            justify-content:center;
            align-items: center;
            gap:1rem;
            list-style: none;
            font-size: 16px;
            li{
                list-style-type: none;
                padding: 0.5rem 1rem;
                transition:box-shadow 0.2s ease-out;
                border-radius:0.5rem;
            }
            li:hover{
                box-shadow: 0px 0px 15px var(--bgsecundary);
            }
            li:last-child{
                background-color: var(--bgsecundary);
                a{
                    background-color: var(--bgsecundary);
                }
            }
        }
        a{
            display: flex;
            justify-content: flex-end;
        }

    }
}

.main h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
} 
.container-boton{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    justify-content: space-evenly;
}


.container-boton button{
    width:8rem;
    height:3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(36, 35, 35);
    background-color: var(--bgprimary);
    color:white;
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease; 
    -ms-transition:all .9s ease; 
    
    }

.container-boton button:hover, .aclamada-publico:hover, .titulo-aclamadas:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);

}


.img-contenedor img{
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease; 
    -ms-transition:all .9s ease;
    width:100%;
}
.img-contenedor:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    }

    
