.container-tendencias{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        justify-items: center;
        justify-content: center;
        gap:3rem;
        padding: 30px;

        img{
            width:10rem;
        }
    }

    .titulo-tendencias{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }